<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>whiteBackground</key>
	<string>#FFFFFF</string>
	<key>textLabel</key>
	<string>#000000</string>
	<key>textFieldBackground</key>
	<string>#FFFFFF</string>
	<key>pink</key>
	<string>#c4537e</string>
	<key>blue</key>
	<string>#5561cc</string>
	<key>lightGray</key>
	<string>#c5c5c5</string>
	<key>paleGray</key>
	<string>#f4f5fd</string>
	<key>lightPink</key>
	<string>#fbe2f0</string>
	<key>almostWhite</key>
	<string>#f8f8f8</string>
	<key>TabBar</key>
	<dict>
		<key>selectedColor</key>
		<string>#c4537e</string>
		<key>selectedTextColor</key>
		<string>#c4537e</string>
		<key>unSelectedColor</key>
		<string>#bcbcbc</string>
		<key>unSelectedTextColor</key>
		<string>#bcbcbc</string>
	</dict>
	<key>NavBar</key>
	<dict>
		<key>backgroundColor</key>
		<string>#FFFFFF</string>
		<key>textColor</key>
		<string>#000000</string>
		<key>font</key>
		<dict>
			<key>weight</key>
			<string>bold</string>
			<key>size</key>
			<integer>19</integer>
			<key>font</key>
			<string>Lato</string>
		</dict>
		<key>BarButton</key>
		<dict>
			<key>font</key>
			<dict>
				<key>weight</key>
				<string>bold</string>
				<key>size</key>
				<integer>19</integer>
				<key>font</key>
				<string>Lato</string>
			</dict>
			<key>textColor</key>
			<string>#000000</string>
		</dict>
	</dict>
</dict>
</plist>
